[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "kitty_search"]
	path = kitty_search
	url = https://github.com/trygveaa/kitty-kitten-search
